<section class="text-center">
    <h2 class="h1 pb-2 font-weight-bold pink-text">Ngx Generic Wizard - Future Features</h2>
    <div class="row">
        <div class="col">
            <mdb-card class="mt-4 mr-2">
                <mdb-card-header>Styling Tooling</mdb-card-header>
                <mdb-card-body>
                    <mdb-card-title>
                        <h5 class="h5">Color Scheme and Styling</h5>
                    </mdb-card-title>
                    <mdb-card-text>Ngx Generic Wizard will eventually feature a fully customizable color scheme system
                        that will
                        allow users to change the color of any element to their liking.</mdb-card-text>
                </mdb-card-body>
                <mdb-card-footer class="text-muted">Time to implement: TBD</mdb-card-footer>
            </mdb-card>
        </div>
        <div class="col">
            <mdb-card class="mt-4 ml-2">
                <mdb-card-header>Widget</mdb-card-header>
                <mdb-card-body>
                    <mdb-card-title>
                        <h5 class="h5">Ngx Dashboard Widget</h5>
                    </mdb-card-title>
                    <mdb-card-text>Ngx Generic Wizard will feature a small horizontal or vertical widget that users can
                        place on a dashboard to show the progress of a wizard, this will enable them to see what step of
                        the wizard they last completed.</mdb-card-text>
                </mdb-card-body>
                <mdb-card-footer class="text-muted">Time to implement: TBD</mdb-card-footer>
            </mdb-card>
        </div>
    </div>
</section>