<section class="text-center">
    <h2 class="h1 pb-2 font-weight-bold pink-text">Ngx Generic Wizard</h2>
    <p class="px-5 mb-5 pb-3 lead">
        Ngx Generic Wizard is the power of a multi-step process in your hands, you define the steps, which pages they go
        to and watch it do it's magic.
    </p>
    <p class="px-5 mb-5 pb-3 lead">
        Ngx Generic Wizard currently features a horizontal UI stepper with lines between every step along with a
        separate component container with the buttons to navigate through the wizard. Configuration is passed in before
        hand and Ngx Generic Wizard has the unique capability that it can be integrated with stores and APIs. There are
        several interfaces, the most important ones are ngx-gw-config and ngx-gw-step, as well as ngx-gw-step-status and
        ngx-gw-step-status-map.
    </p>
    <p class="px-5 mb-5 pb-3 lead">
        The ngx-gw-config has all of the options necessary for the wizard to function. The steps interface is
        specifically meant to configure the individual steps with the status and status map interfaces meant to interact
        with the system using Ngx Generic Wizard.
    </p>
    <div class="row text-left">
        <div class="col-md-6 mb-3">
            <div class="col-1 col-md-2 float-left">
                <mdb-icon fas icon="ruler-horizontal" size="3x" class="red-text"></mdb-icon>
            </div>
            <div class="col-10 col-md-9 col-lg-10 float-right">
                <h4 class="font-weight-bold">Basic Wizard Example</h4>
                <p class="grey-text">
                    A couple of pages and steps for a basic wizard walk through.
                </p>
                <button mdbBtn color="danger" size="sm" class="ml-0 waves-light" [routerLink]="['basic']"
                    mdbWavesEffect>
                    Example
                </button>
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="col-1 col-md-2 float-left">
                <mdb-icon fas icon="ruler-vertical" size="3x" class="cyan-text"></mdb-icon>
            </div>
            <div class="col-10 col-md-9 col-lg-10 float-right">
                <h4 class="font-weight-bold">Advanced Wizard Example</h4>
                <p class="grey-text">
                    Coming soon... An example using tabs, different placements for buttons, multiple wizards, and state
                    management.
                </p>
                <button mdbBtn color="cyan" size="sm" class="ml-0 waves-light" disabled mdbWavesEffect>
                    <!-- [routerLink]="['advanced']"  -->
                    Example
                </button>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="col-1 col-md-2 float-left">
                <mdb-icon fas icon="cogs" size="3x" class="orange-text"></mdb-icon>
            </div>
            <div class="col-10 col-md-9 col-lg-10 float-right">
                <h4 class="font-weight-bold">Inner Workings</h4>
                <p class="grey-text">
                    Come here to see some of the inner workings of Ngx Generic Wizard, and suggest
                    improvements.
                </p>
                <button mdbBtn color="orange" size="sm" class="ml-0 waves-light" [routerLink]="['inner-workings']"
                    mdbWavesEffect>
                    Learn More
                </button>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="col-1 col-md-2 float-left">
                <mdb-icon fas icon="road" size="3x" class="blue-text"></mdb-icon>
            </div>
            <div class="col-10 col-md-9 col-lg-10 float-right">
                <h4 class="font-weight-bold">Future Features</h4>
                <p class="grey-text">
                    Here we have a road map of future features that are intended to be implemented
                    into Ngx Generic Wizard, some features include a color scheming system and a
                    widget for dashboard views into how far along the user is in the wizard.
                </p>
                <button mdbBtn color="primary" size="sm" class="ml-0 waves-light" [routerLink]="['future']"
                    mdbWavesEffect>
                    See More
                </button>
            </div>
        </div>
    </div>
</section>