<h2 class="text-center">Welcome!</h2>
<div class="text-center">
  Select a demo to jump into and start learning more about these projects today!
</div>
<div class="my-5 d-flex">
  <mdb-card
    style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/48.jpg')"
    class="card-image mb-3 mx-2"
  >
    <div
      class="text-white text-center d-flex align-items-center rgba-indigo-strong py-5 px-4"
    >
      <div>
        <h3 class="card-title pt-2 green-text">
          <strong>Ngx Dynamic Forms</strong>
        </h3>
        <p>
          Dynamically generates a form that you can add to or remove from on the fly, and
          also reacts with dynamic data.
        </p>
        <a mdbBtn color="green" class="waves-light" routerLink="ngx-df" mdbWavesEffect>
          <mdb-icon far icon="clone" class="left"></mdb-icon>
          View project</a
        >
      </div>
    </div>
  </mdb-card>
  <mdb-card
    style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/83.jpg')"
    class="card-image mb-3 mx-2"
  >
    <div
      class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4"
    >
      <div>
        <h3 class="card-title pt-2 pink-text">
          <strong>Ngx Generic Wizard</strong>
        </h3>
        <p>
          Generates a multi-step wizard for you, including routing to different pages as needed
          with buttons to advance to next step.
        </p>
        <a mdbBtn color="pink" class="waves-light" routerLink="ngx-gw" mdbWavesEffect>
          <mdb-icon far icon="clone" class="left"></mdb-icon>
          View project</a
        >
      </div>
    </div>
  </mdb-card>
  <mdb-card
    style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/82.jpg')"
    class="card-image mb-3 mx-2"
  >
    <div
      class="text-white text-center d-flex align-items-center rgba-indigo-strong py-5 px-4"
    >
      <div>
        <h3 class="card-title pt-2 orange-text">
          <strong>Ngx Health Checker</strong>
        </h3>
        <p>
          Checks the health of your application and ensures that you are properly notified if
          some connection is failing.
        </p>
        <a mdbBtn color="deep-orange" class="waves-light" routerLink="ngx-hc" mdbWavesEffect>
          <mdb-icon far icon="clone" class="left"></mdb-icon>
          View project</a
        >
      </div>
    </div>
  </mdb-card>
</div>
