<section class="text-center">
    <h2 class="h1 pb-2 font-weight-bold green-text">Ngx Dynamic Forms - Inner Workings</h2>
    <div class="card-deck">
        <div class="card mb-4">
            <div class="card-body">
                <h4 class="card-title">Ngx-df-configuration Interface</h4>
                <p class="card-text">
                    This is a quick description of the fields of the ngx-df-configuration interface
                    and what they are for.
                </p>
                <p class="card-text text-left">
                    <code>interface NgxDFConfiguration &#123;</code>
                    <br />
                    <code>formClass&#63;&#58; string&#59;</code>
                    <br />
                    <code>formGroups&#63;&#58; NgxDFFieldGroup&#91;&#93;&#59;</code>
                    <br />
                    <code>footerDivider&#63;&#58; boolean&#59;</code>
                    <br />
                    <code>submitBtnText&#63;&#58; string&#59;</code>
                    <br />
                    <code>submitBtnEnabled$&#63;&#58; Observable&lt;boolean&gt;&#59;</code>
                    <br />
                    <code>resetBtn&#63;&#58; boolean&#59;</code>
                    <br />
                    <code>resetBtnText&#63;&#58; string&#59;</code>
                    <br />
                    <code>resetBtnEnabled$&#63;&#58; Observable&lt;boolean&gt;&#59;</code>
                    <br />
                    <code>&#125;</code>
                </p>
                <p class="card-text"></p>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-body">
                <h4 class="card-title">Ngx-df-field-definition Interface</h4>
                <p class="card-text">
                    This is a quick description of the fields of the ngx-df-field-definition
                    interface and what they are for.
                </p>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-body">
                <h4 class="card-title">Ngx-dynamic-forms Component</h4>
                <p class="card-text">
                    This is a quick description of the Ngx-dynamic-forms component and a little bit
                    about how it works.
                </p>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-body">
                <h4 class="card-title">Ngx-dynamic-form-input Component</h4>
                <p class="card-text">
                    This is a quick description of the Ngx-dynamic-form-input component and a little
                    bit about how it works.
                </p>
            </div>
        </div>
    </div>
</section>;
