<mdb-navbar
  SideClass="navbar navbar-expand-lg navbar-dark bg-primary lighten-1 sticky-top"
  [containerInside]="false"
>
  <mdb-navbar-brand
    ><a class="navbar-brand" href="#">VorakorTech</a></mdb-navbar-brand
  >
  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link waves-light" mdbWavesEffect>Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>Ngx-Generic-Wizard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>Ngx-Health-Checker</a>
      </li>
      <li class="nav-item dropdown" dropdown>
        <a
          dropdownToggle
          mdbWavesEffect
          type="button"
          class="nav-link dropdown-toggle waves-light"
          mdbWavesEffect
        >
          Ngx-Dynamic-Forms<span class="caret"></span
        ></a>
        <div
          *dropdownMenu
          class="dropdown-menu dropdown dropdown-primary"
          role="menu"
        >
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Basic</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#"
            >Advanced</a
          >
        </div>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item mail">
        <a class="nav-link">1 <mdb-icon fas icon="envelope"></mdb-icon></a>
      </li>
      <li class="nav-item avatar dropdown" dropdown>
        <a
          dropdownToggle
          mdbWavesEffect
          type="button"
          class="nav-link dropdown-toggle waves-light"
          mdbWavesEffect
        >
          <img
            src="https://mdbootstrap.com/img/Photos/Avatars/avatar-2.jpg"
            alt=""
            class="img-fluid rounded-circle z-depth-0"
        /></a>

        <div
          *dropdownMenu
          class="dropdown-menu dropdown-menu-right dropdown dropdown-primary"
          role="menu"
        >
          <a class="dropdown-item waves-light" mdbWavesEffect href="#"
            >My account</a
          >
          <a class="dropdown-item waves-light" mdbWavesEffect href="#"
            >Log out</a
          >
        </div>
      </li>
    </ul>
  </links>
</mdb-navbar>
<div class="container-fluid my-2">
  <div>Content here...</div>
  <router-outlet></router-outlet>
</div>
<footer class="page-footer font-small mdb-color pt-4">
  <div class="container-fluid text-center">
    <div class="row">
      <div class="col-12 mt-md-0 mb-3">
        The code here is for demonstration purposes.
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">
    © 2020 Copyright:
    <a href="#">Vorakor Technologies</a>
  </div>
</footer>
